* {
    margin: 0;
    padding: 0;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    border: 0;
    padding: 10px 0;
    font-size: 1.4em;
}

#box1 {
    height: 100vh;
    width: 100%;
    background-image: url(../images/b1.jpg);
    background-size: cover;
    display: table;
    background-attachment: fixed;
    color: azure;
}

#box2 {
    height: 100vh;
    width: 100%;
    background-image: url(../images/b2.jpg);
    background-size: cover;
    display: table;
    background-attachment: fixed;
    color:azure;
}

#box3 {
    height: 100vh;
    width: 100%;
    background-image: url(../images/b3.jpg);
    background-size: cover;
    display: table;
    background-attachment: fixed;
    color: azure;
}

#box4 {
    height: 90vh;
    width: 100%;
  background-image: url(../images/b7.jpg);
    background-size: cover;
    display: table;
    background-attachment: fixed;
    color: azure;
    padding: 100px;

}

#box5 {
    height: 65vh;
    width: 100%;
    background-image: url(../images/b5.jpg);
    background-size: cover;
    display: table;
    background-attachment: fixed;
    color: azure;
    padding: 50px
}

#box6 {
    height: 80vh;
    width: 100%;
    background-image: url(../images/b6.jpg);
    background-size: cover;
    display: table;
    background-attachment: fixed;
    color: azure;
}

#bigtitle{
    
    font-size: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: white;
}


#img-format{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}
#img-format2{
     display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 400px;
    height: 600px;
    border: 3px solid black;
}
#img-format3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    width: 300px;
}

#img-format4{
    max-width: 200px;
    margin: 1% auto;
}
#header3{
     text-align: center;
    margin-top: 3%;
    font-size: 70px
        
}


.container{
    width: 80%;
    margin: 10px auto;

}

.Question{
    margin-left: 40px;
    line-height: 30px;
    margin-bottom: 30px;
    
}

.Question h2{

    width: 100%;
    margin: 10px 0;
}

.alignment{
    text-align: center;
    margin-top: 1%
}


#header1{
    text-align: center;
    margin-top: 2%;
    font-size: 50px
}
h4{
    font-size: 40px
}

#footer{
    font-size: 20px;
    margin-top: 40px;
    background: pink;
    padding: 20px;
}

.retake{
    float: right;
    background: pink;
    padding: 10px;
    text-decoration: none;
}

.retake:hover {
    background: black;
    color: white;

}

table {
    border-collapse: collapse;
    width: 100%;
    
}

th, td {
    padding: 8px;
    text-align: left;
    text-align: center;
        
}
#tr-style{
    font-size: 60px;
}

#semi-title{
    text-align: center;
    font-size: 40px;
    margin-top: 5%;
}
#members{
    text-align: center;
    font-size: 20px;
    margin-top: 0%;
}
h1{
    font-family: Oswald-Medium;
}

h2{
    font-family: Oswald-Medium;
}

h3{
    font-family: Oswald-Medium;
}

ul{
    font-family: Walkway-SemiBold;
}

ul li{
    font-family: Walkway-SemiBold;
}

ul li li{
    font-family: Walkway-SemiBold;
}

ul li ul {
    font-family: Walkway-SemiBold;
}

ul li ul li{
    font-family: Walkway-SemiBold;
}
    
ol{
    font-family: Walkway-SemiBold;
}

ol li {
    font-family: Walkway-SemiBold;
}

ol li ul{
    font-family: Walkway-SemiBold;
}

ol li ul li{
    font-family: Walkway-SemiBold;
}

p{
    font-family: Walkway-SemiBold;
}

p li {
    font-family: Walkway-SemiBold;
}
    
li {
    font-family: Walkway-SemiBold;
}

.tleft{
    position: absolute;
    top: 0;
    left: 16px;
}



    

    

